body{
   background-image: url(background_image.jpg)
}

#title{
   text-align: center;
}

#container{
   background-color: rgba(0, 0, 0, 0.3);
   margin: 30px 100px;
}
#title {
   text-align: center;
   font-size: 50px;
   font-family: 'Bowlby One SC', cursive;
   padding-top: 15px;
   letter-spacing: 5px;
}

#survey-form{
   width: 500px;
   height: auto;
   background-color: rgba(0, 0, 0, 0.8);
   margin: auto;
   padding-top: 10px;
   color: white;
}

h3 {
   display: block;
   font-size: 1.17em;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
   font-family: 'Sorts Mill Goudy', serif;
}

.box {
   margin-top: 20px;
   margin-left: 40px;
} 

#margin-left{
   margin-left: 0%;
}

#name, #age, #email, #contenttype{
   margin-top: 16px;
   height: 36px;
   width: 400px;
   border: none;
   padding: 10px;
}


*{
   margin: 0px;
   padding: 0px;
}

#description {
   text-align: center;
   font-size: 23px;
   font-family: "Sorts Mill Goudy", sans-serif;
   margin-bottom: 15px;
   color: white;
}

#submit {
   font-size: larger;
   margin: 16px 0px 16px 150px;
   height: 45px;
   width: 160px;
   border-radius: 50px;
   border: none;
   background-color: red;
   color: white;
   cursor: pointer;
}



